* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-grey);
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    color: var(--black);
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    color: var(--black);
    margin-top: 4px;
    margin-bottom: 4px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
    margin-top: 4px;
    margin-bottom: 4px;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

:root {
    --white: #FFF;
    --black: #000;
    --shadow-light-grey: #32325D3F;
    --shadow-dark-grey: #0000004C;
    --background-grey: #F8F8F8;
    --red: #B01E1E;
}