.input {
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 400px;
    height: 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: var(--black);
    background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 8px;
    transition: border-color 0.2s ease-in-out;
}

.input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.input::placeholder {
    font-weight: 300;
    color: var(--black);
}

.label {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: var(--black);
}