.button {
    border: 4px solid var(--grey-0_1);
    box-sizing: border-box;
    border-radius: 8px;
    min-width: 280px;
    height: 90px;
    transition: border-color 0.2s ease-in-out;
}

.button:hover {
    border: 4px solid var(--grey-0_4);
    outline: none;
}

.button:focus {
    border: 4px solid var(--grey-0_5);
    outline: none;
}

.primary {
    background-color: var(--white);
}

.secondary {
    background-color: var(--background-grey);
}

.disabled,
.disabled:hover,
.disabled:focus {
    border: 4px solid var(--grey-0_1);
    color: var(--grey-0_5);
    cursor: not-allowed;
}